<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - Sara Dunlop</title>
    <link rel="stylesheet" href="../styles.css">
    <script src="../scripts/include-components.js" defer></script>
    <script src="../scripts.js" defer></script>
</head>
<body class="{{page_class}}">
    <div data-component="header"></div>

    <main>
        <div data-component="content"></div>
    </main>

    <footer>
        <div class="social">
            <a href="https://instagram.com">Instagram</a>
            <a href="https://twitter.com">Twitter</a>
        </div>
    </footer>
</body>
</html> 